body {
  color: #535353;
  font-size: 15px; }

img {
  border-radius: 3px; }

h3, h2, h1, h4, h5, h6 {
  color: #535353; }

nav, header {
  background: #1c3643;
  height: 3em; }

nav a {
  color: white;
  font-weight: bold; }

header img {
  height: 7em; }

#foto-portada {
  background: url("../img/portada.jpg");
  background-size: 100%;
  background-position: center center;
  padding: 2.85em; }

#foto-portada h2, #foto-portada h4, #foto-portada h5 {
  color: white;
  text-shadow: 0 0 0 5px #666666; }

#foto-portada h5 {
  margin-top: 1em; }

#evento {
  background: #e7e7e7;
  padding-top: 1.58em;
  padding-bottom: 0.8em;
  color: #263758; }

#evento img {
  height: 4em; }

#evento #fecha span {
  font-size: 1.885rem;
  border-bottom: 1px solid; }

#evento #prox-congreso span {
  background: #e0b34c;
  color: white;
  font-weight: bold;
  padding: 4px; }

#evento #prox-congreso {
  margin-top: 9px; }

#evento #prox-congreso h5 {
  margin-top: 4px; }

#contenido {
  margin: 5em 0; }

#contenido img {
  width: 400px; }

#contenido p {
  text-align: justify; }

#contenido h2 {
  border-bottom: 1px solid #c8c8c7;
  text-align: center;
  margin: auto;
  margin-bottom: 1em; }

#valores {
  border-bottom: 1px solid #c8c8c7;
  margin-bottom: 1.3em; }

#valores h3 {
  text-align: center;
  margin: auto; }

#registro {
  background: #e7e7e7;
  padding: 3em; }

#registro label {
  color: #535353;
  padding-top: -5px; }

.formulario-1 {
  margin-top: 1.48em; }

.formulario-1 input[type=text] {
  margin: auto;
  border-radius: 4px;
  color: #6e9e4c; }

footer {
  background: #1c3643;
  color: #e2e2e2;
  padding: 2.85em 0;
  font-size: 13px; }

footer .column:first-child {
  border-right: 1px solid white; }

footer img {
  height: 8.8em;
  margin: auto; }

footer h6 {
  color: white; }

footer ul {
  list-style: none; }
